# Secrets
.env

# Logs
*.log
debug.log
flask.log

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/

# Base de données locale
news_bot.db
*.db

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/
